body{
    background-color: #F0F5F7 ;
}
.navtem{
    margin-top:0.5%;
    border: 1px solid dimgrey;
    height:55px;

}
.review {
    margin-top:10px;
    border: 1px solid dimgrey;
    height:150px;

}
.imgtem{
    margin: 5px 10px 0px 10px;
    float :left;
    height: 60px;
    width: 80px;
}
.title{
    padding: 15px 0px 0px 5px;
    float:left;
}
.left-view{
    float :left ;
}
.btReview{
    float :right;
    margin: 20px 100px 0px 0px ;
}
.left-bar{
    border: 1px solid dimgrey;
    height:110%;
    margin-top :10px;
    margin-left : 16px;
}
.centerView{
    border: 1px solid dimgrey;
    margin-top :10px;
    margin-left : 10px;
    width: 79.8%;
    height:110%;
}
.footer{
    border: 1px solid dimgrey;
    margin-top:10px;
    height:55px;
}
.cc{
    font-weight:bold;
}
.goalsCourse {
    margin: 60px 30px 30px 60px;
}
.txC{
    float:left ;
}
.btSaveCourse{
    margin-top: 130px;
}
.homeSection{
    border: 1px solid dimgrey;
    margin: 30px 10px ;
    height:95%;
}
.tbHomePage{
    padding-top: 70px;
    margin-left: 10px;
    margin-right: 10px;
}
.btAddSection{
    margin-left: 10px;
}
.addSection{
    border: 1px solid dimgrey;
    margin: 60px 10px ;
    height:80%;
}
.formAddSection{
    margin: 100px 100px ;
}
.ipGoals{
    margin-top: 40px;

}
.addLecture{
    border: 1px solid dimgrey;
    margin: 10px 10px ;
    height:95%;
}
.formAddLecture{
    margin: 20px 100px ;

}
.linkVideo{
    margin-top: 20px;
}
.description{
    margin-top: 10px;

}
.tittleLecture{
    margin-top: 10px;
}
.languageCourse{
    margin-top: 120px;
    margin-left: 5px;
}
.levelCourse{
    margin-top: 250px;
    margin-left: 15px;
}
.titleCourse{
    margin-top: 70px;
    margin-left: 20px;
}

