
.wrapper {

}
.wrapper .wrappersection{
    width: 700px;
    margin: 150px 300px;

}
.wrapper .wrappersection .title{
    width:500px;
}

.wrapper .wrappersection .buttonsection{
    padding-left:120px;
    padding-top:50px;

}
.wrapper .wrappersection .buttonsection .btsave{
    width:100px;
    float:left;
    margin-right:50px;
}
.wrapper .wrappersection .buttonsection .btcancel{
    width:100px;

}
