*{margin: 0; padding: 0; font-family: helvetica; border: none;}
a{text-decoration: none; color: #1A91B1;}

body{background: #F8F9FE; min-width: 1000px;}

#header-wrap{width: 100%; height: 50px; background:#5cb85c; border-bottom: 2px solid #fff;}
#header{width: 1000px; margin: auto;}
#main-nav{width: 70% float:left;}
#main-nav ul{}
#main-nav ul li{float: left; list-style: none; position: relative;}
#main-nav ul li a{display: block; line-height: 50px; padding: 0 20px; text-decoration: none; color: #fff;}
#main-nav ul li a:hover{background: #EB5F60;}
#main-nav ul ul{background: #F6F7F8; border-top: 10px solid #F6F7F8; border-bottom: 10px solid #F6F7F8;
	 position: absolute; top: 100%; left: 0; width: 200px; display: none;}
#main-nav ul ul li{float: none; width: 100%}
#main-nav ul ul li a{ color: #333; line-height: 40px;}
#main-nav ul ul li a:hover{color: #fff;}
#main-nav li:hover ul{display: block;}

#search-box{float: right; overflow: hidden; height: 100%; width: 30%; box-sizing: border-box; padding-top: 8px;}
#txt-search{width: 70%; box-sizing: border-box; padding: 8px; border: none;}
#btn-search{width: 25% ;  box-sizing: border-box; padding: 7px; border: none; cursor: pointer;}

#container{width: 1000px; margin: auto; overflow: hidden; box-sizing: border-box; min-height: 500px; margin-top: 30px;}
#main-content{width: 70%; overflow: hidden; box-sizing: border-box; float: left; padding-right: 10px;}
.posts-list-title{display: block; font-size: 17px; color: #999; line-height: 40px;}
.post{width: 100%; overflow: hidden;box-sizing: border-box; padding: 10px; background: #fff; min-height: 200px;
	margin-bottom: 20px;}
.post-thumb{width: 35%; overflow: hidden; float: left; height: 100%; box-sizing: border-box;}
.post-thumb a{display: block;}
.post-thumb img{width: 100%; height: 180px;}
.post-info{width: 65%; float: right; overflow: hidden; padding-left: 20px;box-sizing: border-box; padding-right: 10px;}
.post-title{line-height: 20px; font-weight: normal; margin-bottom: 10px;}
.post-title a{font-size: 18px; color: #333; text-decoration: none; text-transform: uppercase; line-height: 20px;}
.post-title a:hover{color: #1A91B1;}
.post-info ul{width: 100%; overflow: hidden; margin-bottom: 10px;}
.post-info ul li{float: left; list-style: none;}
.post-info ul li span{display: block; color: #999; font-style: italic; font-size: 14px; padding-right: 20px;}
.post-desc{display: block; font-size: 14px; color: #444; text-align: justify; line-height: 22px;}

#pagination{width: 100%; overflow: hidden; box-sizing: border-box; margin: 20px 0;}
#pagination ul li{float: left; list-style: none;}
#pagination ul li a{display: block; line-height: 35px; padding: 0 13px; margin-right: 10px; background: #fff; color: #1A91B1;
	text-decoration: none;}
#pagination ul li a:hover{background: #1A91B1; color: #fff;}
#pagination #current-page{display: block; line-height: 35px; padding: 0 13px; margin-right: 10px; background: #1A91B1; color: #fff;}


#sidebar{width: 30%; overflow: hidden; box-sizing: border-box; float: right; padding-left: 10px; padding-top: 40px;}
.sidebar-block{width: 100%; overflow: hidden; min-height: 300px; background: #fff; padding: 8px; box-sizing:border-box;
	margin-bottom: 30px;}
.sidebar-block-title{width: 100%; overflow: hidden; height: 100px; background: #F6F7F8;}
.sidebar-block-title span{display: block; text-align: left; line-height: 100px; color: #666; font-size: 18px; text-indent: 30px;}
.sidebar-block-content{width: 100%; overflow: hidden;}
.sidebar-block-content ul li a{display: block; color: #333; line-height: 30px; text-decoration: none; font-size: 15px; text-indent: 20px;
	background: #fafafa; margin: 2px 0;}
	.sidebar-block-content ul li a:hover{color: #1A91B1;}
#fb-block{background: #fff url(../images/bg/facebook-err.png) no-repeat center 150px; background-size: 60%; min-height: 380px;}

.other-post-item{width: 100%; overflow: hidden; box-sizing: border-box; padding: 5px; margin: 5px 0; border:1px solid #ededed;}
.other-post-img{width: 26%; float: left;box-sizing: border-box;}
.other-post-img img{width: 100%; height: 70px;}
.other-post-info{width: 72%; float: right; box-sizing: border-box; padding-left: 3%;}
.other-post-info a{margin-bottom: 5px; font-size: 15px; display: inline-block;}
.other-post-info p{line-height: 20px; font-size: 14px; color: #666;}

#footer{width: 100%; overflow: hidden; height: 150px; text-align: center; border-bottom: 2px solid #1A91B1;
	background: #222428; margin-top: 30px;}
#footer h2{color: #666; font-size: 15px; font-weight: normal; line-height: 150px;}
#footer h2 a{color: #EB5F60; text-decoration: none;}


/********single*******/

.content-wrap{width: 100%; overflow: hidden; box-sizing: border-box; padding: 10px; background: #fff; margin-top: 40px;}
.single-post-title{display: block; line-height: 40px; font-weight: normal; font-size: 24px; color: #333; text-indent: 30px;}
.content{width: 100%; overflow: hidden; margin-bottom: 30px;}
.content p{line-height: 22px; font-size: 15px; color: #333; margin: 10px 0; text-indent: 30px;}
.content img{display: block; width: 100%; margin: 10px auto;}

.comment-wrap{width: 100%; overflow: hidden;}
