@-webkit-viewport { width: device-width; }
@-moz-viewport    { width: device-width; }
@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }

body {
padding-top: 60px;
padding-bottom: 40px;
font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    background-image: url(../images/slider-background.jpg);
}

.form-signin {
max-width: 400px;
padding: 40px;
padding-top: 10px;
margin: 0 auto;
border-radius: 2px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
margin-bottom: 20px;
}
.form-signin .checkbox {
font-weight: normal;
}
.form-signin .form-control {
position: relative;
height: auto;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
padding: 10px;
font-size: 16px;
}
.form-signin .form-control:focus {
z-index: 2;
}
.form-signin input[type="email"] {
margin-bottom: 20px;
border-bottom-right-radius: 0;
border-bottom-left-radius: 0;
}

.form-signin input[type="text"] {
margin-bottom: 20px;
border-bottom-right-radius: 0;
border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
margin-bottom: 10px;
border-top-left-radius: 0;
border-top-right-radius: 0;
}

#gap-top, #gap-bottom{	
padding-top:15px;
padding-bottom:10px;
}

.img-circle{
width:100%;
}
.img-circle:hover{
-ms-transform: scale(1.1,1.1); /* IE 9 */
-webkit-transform: scale(1.1,1.1); /* Safari */
transform: scale(1.1,1.1);
transition: all 0.15s ease-in 0s; 
}

.btn{
border:0px;
}

#container-row{
border:1px;
}
.formLogin{

    width: 420px;
    height: 550px;

}
.formRegister{
    margin-left: 650px;
    width: 420px;
    height: 550px;
    background-color: #e1e1e1;
}